<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../gravatar-image/gravatar-image.html">

<!--
`author-card`
An author card for a blog

@demo demo/index.html
-->

<dom-module id="author-card">
  <template>
    <style>
      :host {
        display: block;
      }
      :host #container {
        border: 1px solid #738a94;
      }
      :host[theme="blue"] #container {
        border-color: #066593;
      }
      :host #container #header {
        padding: 10px;
      }
      :host #container #header h2 {
        margin: 10px 0px 0px 5px;
        font-weight: lighter;
      }
      :host #container #header p {
        margin: 5px 0px 5px 0px;
      }
      :host #container #header gravatar-image {
        float: left;
        margin-right: 5px;
      }
      :host #container #footer {
        background-color: #ccc;
        margin: 10px 0px 0px 0px;
        padding: 5px 10px;
        text-align: center;
      }
      :host[theme="blue"] #container #footer {
        background-color: #3299CC;
      }
      :host #container #footer a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
      }
      :host[theme="blue"] #container #footer a {
        color: #fff;
      }
    </style>
    <div id="container">
      <template is="dom-if" if="[[hasName]]">
        <div id="header">
          <gravatar-image email="[[email]]" size="70" fallback="mm"></gravatar-image>
          <h2>[[name]]</h2>
          <p>[[bio]]</p>
        </div>
      </template>
      <div id="footer">
        <p><a href="[[link]]">Read more</a></p>
      </div>
    </div>
  </template>

  <script>
    Polymer({

      is: 'author-card',

      properties: {
        /*
         * The name of the author
        */
        name: {
          type: String,
          value: null,
        },
        /*
         * Has the component provided a name for the author
        */
        hasName: {
          type: Boolean,
          computed: '_computeHasName(name)',
          reflectToAttribute: true
        },
        /*
         * A short bio for the user
        */
        bio: {
          type: String,
          value: 'Add a little something about yourself'
        },
        /*
         * An email address for the author - used to generate the Gravatar
        */
        email: {
          type: String,
          value: ''
        },
        /*
         * Theme selector - available options: gray, blue
        */
        theme: {
          type: String,
          value: 'gray',
          reflectToAttribute: true
        },
        /*
         * Read more link href
        */
        link: {
          type: String,
          value: '#'
        }
      },

      /**
       * Work out if we have a name.
       */
      _computeHasName: function(name) {
        if (name == null) {
          return false;
        }
        return true;
      },

    });
  </script>
</dom-module>
